# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
*.rsuser
*.userprefs
*.ncb
*.pdb
*.ilk
*.log
*.opensdf
*.sdf
*.opendb
*.db

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
[Bb]in/
[Oo]bj/

# NuGet
*.nupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json
artifacts/

# Rider
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Publish output
publish/
